.navbarContainer {
    background-color: var(--main-color);
    display: flex;
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 84px;
}